body {
	position: relative;
	/*background-image: linear-gradient(to right, white, rgb(83, 75, 52) );*/
	/*background-image: linear-gradient(white, white);*/
	/*background-image: repeating-radial-gradient(circle closest-side at center, black, purple, green);*/
	background-image: url(../img/site/background-1263x3933.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.jumbotron {
	background-image: url(../img/site/backgroundImage03.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.jumbotron h1 {
	color: white;
	text-shadow: 0px 0px 20px #FFFFFF;
}

.jumbotron p {
	color: white;
	text-shadow: 0px 0px 5px #FFFFFF;
}


.jumbotron .border-dark,.border {
	border:none!important;

}

.carousel img {
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
}

#section1 h1{
	text-shadow: 2px 2px 4px #000000;
}

#section2 h1{
	text-shadow: 2px 2px 4px #000000;
}

#section3 h1{
	text-shadow: 2px 2px 4px #000000;
}

#section4 .card {
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
	border: none;
}

#section4 h1{
	text-shadow: 2px 2px 4px #000000;
}

#section4 h3{
	text-shadow: 2px 2px 4px #000000;
}

#section4 p{
	text-shadow: 0px 0px 4px #000000;
}

#section4 li{
	text-shadow: 0px 0px 4px #000000;
}

#section4 a{
	text-shadow: 2px 2px 4px #000000;
}

#section5 h1{
	text-shadow: 2px 2px 4px #000000;
}

#section5 #contactData {
	text-shadow: 2px 2px 4px #000000;
}


/*Extra Small
All smart phones
*/
@media (max-width: 575px) {
	
	body {
		background-color: red;
	}

	.card {
		width: auto!important;
	}

	#section5 .row {
		font-size: 1.5em;
	}

}

/*Small
iPhone 6/7/8 in lanscape mode
*/
@media  (min-width: 576px)  {
	
	body {
		background-color: blue;
	}

	#section5 .row {
		font-size: 1.7em;"
	}
}

/*Medium
Standard iPad
*/
@media  (min-width: 768px)  {
	
	body {
		background-color: green;
	}

	#section5 .row {
		font-size: 2em;"
	}
}

/*Large
iPad Pro 
*/
@media  (min-width: 992px)  {
	
	body {
		background-color: yellow;
	}

	#section5 .row {
		font-size: 2.5em;"
	}
}

/*Extra Large
Surface Pro 4, PCs & laptops
*/
@media (min-width: 1200px) {
	body {
		background-color: purple;
	}
}









